@font-face {
    font-family: 'CodecPro'; 
    src: url('CodecPro-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: 'CodecProThin'; 
    src: url('CodecPro-Thin.ttf') format('truetype'); 
    font-weight: 100; 
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px;
    font-family: 'CodecProThin';
}



.bgc1{ background-color: #020873;}
.bgc2{ background-color: #0424D9;}
.bgc3{ background-color: #0439D9;}
.bgc4{ background-color: #2793F2;}
.bgc5{ background-color: #D9A648;}
.bgc6{ background-color: #000000;}
.bgc7{ background-color: #FFFFFF;}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.s1{
    width: 100%;
    height: 100%;

    background: #020873;
    background: linear-gradient(90deg,rgba(2, 8, 115, 1) 0%, rgba(4, 36, 217, 1) 75%, rgba(4, 57, 217, 1) 100%);

    color: #FFFFFF;

    display: flex; 
    justify-content: center;
    align-items: center; 
}


.s2{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.box{
    width: 50%;
    height: 50%;

    background-color: #020873;

    border: #D9A648 10px dashed;
    border-radius: 20px;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1{
    width: 40%;
    height: 90%;

    padding: 50px;

    background-color: #020873;
    color: #FFFFFF;
    border: #D9A648 10px dashed;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


}
.box3{
    width: 40%;
    height: 90%;

    padding: 50px;

    background-color: #020873;
    color: #FFFFFF;
    border: #2793F2 10px solid;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


}
.box2{
    width: 40%;
    height: 90%;

    padding: 50px;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box4{
    width: 50%;
    height: 90%;

    padding: 50px;

    background-color: #020873;
    color: #FFFFFF;
    border: #D9A648 10px dashed;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.box5{
    width: 30%;
    height: 90%;

    padding: 50px;

    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.box5 h1{
    font-size: 75px;
    margin-bottom: 25px;
    color: #020873;
}
.box5 p{
    font-size: 40px;
    font-family: "CodecPro";
    
}

.box6{
    width: 50%;
    height: 90%;

    padding: 50px;

    background-color: #D9A648;
    color: #FFFFFF;
    border: #020873 10px dashed;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.box h1{
    font-size: 75px;
}


.box h2{
    font-size: 50px;
}

.boxbt {
    position: fixed;
    bottom: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0439D9;
    color: #000000;
    border-radius: 20px;
    z-index: 1000;
    width: 10%;
    height: 10%;

    opacity: 0.5;

    user-select: none;
    cursor: pointer;

}

.boxbt .icon{
    text-align: center;
    font-size: 50px;
    width: 50px;
        display: flex;
    justify-content: center;
    align-items: center;
}

.boxbt:hover{
    opacity: 0.9;
}
.boxbt a {
    text-align: center;
  text-decoration: none;
  font-family: "CodecPro";
  color: #FFFFFF;
}

/* Cambia el color cuando el enlace ya ha sido visitado para que se vea igual que el no visitado */
.boxbt a:visited {
  color: #FFFFFF;
}

/* Aplica un color diferente cuando el cursor está encima, para dar una retroalimentación visual */
.boxbt a:hover {
  color: #FFFFFF; /* Un azul para destacar */
}

/* Limpia el estilo del estado activo */
.boxbt a:active {
  color: #FFFFFF;
}

.boximg1{
    width: 400px;
    height: 400px;
    border-radius: 400px;
    border: 20px solid #020873;

}

.boxh1{
    font-size: 70px;
    margin-bottom: 50px;
}
.boxp{
    font-size: 50px;
}

.boxul{
    font-size: 50px;
}
.boxul li{
    margin: 20px;
}