*{ 
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html{
    height: 100%;
}
body{
    background-color: #59453E;
    background-image: url("texture.png");
    height: 100%;
}
.full{
    height: 100%;
}

/* Color Theme Swatches in Hex */
.c1 { color: #A67449; }
.c2 { color: #F2CEAE; }
.c3 { color: #401801; }
.c4 { color: #BFB2AA; }
.c5 { color: #59453E; }

.bg1 { background-color: #A67449; }
.bg2 { background-color: #F2CEAE; }
.bg3 { background-color: #401801; }
.bg4 { background-color: #BFB2AA; }
.bg5 { background-color: #59453E; }

